<html>
<head>
    <title>mock-sso</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div class="header">
    <div class="content">
        <h1><%= title ;%> - select a user</h1>
    </div>
</div>

<div class="content">
    <% users.forEach(function(user) { %>
        <form method="POST" action="/select-user">
            <input type="hidden" value="<%= redirectUri ;%>" name="redirectUri" />

            <input name="email_user_id" type="hidden" value="<%= user.email_user_id ;%>" />
            <button type="submit" name="submit-button"><%= user.email ;%></button>
            <%= user.first_name %> <%= user.last_name %>
<br>
        </form>
    <% }); %>
</div>

<footer>
    <div class="content"><%= title %> <%= version %> - <%= repo %></div>
</footer>
</body>
</html>
